---
layout: post
title: I am Diana of Themyscira
date: 2017-06-13 21:32:16.000000000 +01:00
type: post
published: true
status: publish
categories:
- Thoughts
tags:
- diversity
- films
author:
display_name: Octopus in vitro
first_name: ''
last_name: ''
---

<blockquote>
<p>...daughter of Hippolyta, queen of the Amazons, and your wrath upon this world is over!</p>
<p>Wonder Woman</p>
</blockquote>

<p>This post has <strong>spoilers</strong>, so if you haven't seen the movie, stop reading!</p>

<p>I finally went to see Wonder Woman, a movie for which I was so hyped that <a href="<%= twitter_url %>/status/871458817799860224">I did a fanart before I even saw the movie</a>:</p>

<figure>
  <img src="<%= image_host %>/images/uploads/2017/06/wonder-woman-hippolyta-fanart.jpg" width="500" height="707" alt="My fanart of Queen Hippolyta">
  <figcaption>My fanart of Queen Hippolyta</figcaption>
</figure>

<p>The reason for this is that this movie is kind of important for what it repressents. I am not a fan of super-hero movies, and I was never a fan of super-hero comics either. But in 75 years since the creation of the Wonder Woman comic, nobody had done a movie about her, while Superman, Batman and all the others got theirs pretty early.</p>

<p>The other refreshing bit is that it was directed by the stunning force of the universe that directed one of my favourite movies: monster. Patty Jenkins is awesome at what she does, and she deserved to have her recognition. Also, I believe that a male director may have sexualized Diana too much and her message would be lost.</p>

<p>The short story is that I enjoyed the movie, and would watch it again. The bad news is that I didn't entirely like the script. You can like something and still see its flaws!</p>

<h2>What I didn't like</h2>

<p>Let's start with the ugly:</p>

<p><strong>Internet spoilers:</strong> We live on a time when you can not wait for a week to see a new release, because the internet just feels up with memes, tweets, articles, youtube videos and, in general, SPOILERS, so most of the good parts of the movie lost their surprise effect. The No Man Land’s scene is a very important one because it’s when she becomes Wonder Woman. It could have been a WOW if it wasn’t in the trailer and everywhere on the internet. The only way to avoid spoliers, I think, is to live in a cave until you see the movie.</p>

<p><strong>Gal Gadot acting:</strong> Although good in average, it’s not homogeneus. Indeed Diana has many registers: happy, angry, worried, etc. And Gal Gadot has a very expressive face that she uses perfectly. For example, when she greets people after destroying a tank on the top of a church, she has a huge smile and relaxed face which is very different from her fight face. But the way she stands is a bit unnatural, with her arms behind and all that, and at times she is too much overacted, or at times she doesn’t act at all, she is just being herself in the pub down the street. Except when she has to say a cheesy-warrior-princess line, like &quot;<em>who would I be if I stayed</em>&quot;. I wonder if that was part of making her &quot;<em>relatable</em>&quot;, as Patty Jenkins wanted.</p>

<p><strong>Muscle:</strong> Ok this is just me being a little picky maybe. She looks very strong and tall and compact in the movie, but I was expecting more of a Xena kind of muscular mass for a warrior. Like some of the other amazons, who really looked like they could reorganize your face with their fist.</p>

<p><strong>Broken glasses:</strong> There is a scene when they are fighting in the alley/passage and her glasses fall and somebody accidentally smashes them with his foot, that for some reason reminded me of Isaac Asimov's critique of the "ugly girl with glasses becoming popular" from 1956.</p>

<figure>
  <img src="<%= image_host %>/images/uploads/2017/06/wonder-woman-asimov-critique.jpg" width="1660" height="2048" alt="Isaac Asimov's critique of the ugly girl with glasses becoming popular from 1956">
  <figcaption>Issac Asimov's <a href="https://twitter.com/DoktorAndy/status/792772916777660416">critique</a></figcaption>
</figure>

<p><strong>Script:</strong> I get that this is a blockbuster action movie made in Hollywood by Warner Bros and all that. But some parts of the script made my eyes cry blood and my ears penetrated by a drill. For example:</p>

<ul>
<li>Her lines where sometimes too cheesy. &quot;<em>I believe in love. Only love will truly save the world</em>&quot;. &quot;<em>I will fight, for those who can not fight for themselves</em>&quot;. Other characters got better lines. Yes, that's the essence of the Wonder Woman character, but really, there's no need to have your eight year old write your script for you.</li>

<li>Not many lines. Honestly, she doesn’t speak a lot in the movie, or get as much screen time as I would have liked. The men do all the talking, and it's her movie! And then most of her lines are cheesy. Sad!</li>

<li>I get that she comes from a totally different world and she might be innocent and confused about certain things, but through most of the movie, she is treated like a child, and has everything explained to her in a patronising way. Like her conversation with the spy guy after she kills Ludendorff thinking that he was Ares. Again, a dialogue written by an eight-year old.</li>

<li>The unneded romance. Really, there was no need… this was used just so that she had a reason to release her true god power at the end. But she could have gotten angry at any other thing. I wonder if the producers were afraid that people would lesbianize a strong and poerful woman. There is also a comment from Sameer, &quot;<em>There is an island full of women and no man? Where is it?</em>&quot;. Did they want to rule out the possibility that any woman in the island could be lesbian?</li>

<li>Some parts of the script were not very imaginative, and there were many things that we have seen already, like the death of Diana's aunt Antiope, shouting &quot;<em>Nooooo…!</em>&quot; while she runs to put her body in between a bullet and the loved one. That scene almost made me laugh, if it wasn't because Antiope fucking ruled and I wanted to see her kick ass for longer. Or Diana before entering no man's land, letting her hair out, moving her head like a L’Oreal ad and saing with conviction: &quot;<em>this is what I am going to do</em>&quot;.</li>

<li>Consistency: Somebody kills your aunt and 5 min. later you are OK. Diana sends a guy in a pub all the way to crash on a wall, and everyone continues with their life as if nothing happened...</li>
</ul>

<h2>Things I liked</h2>

<p>As I said, I wanted to finish on a high note, so this is what I enjoyed!</p>

<p><strong>There was a good representation of non-whites</strong> in the movie, a lot of black amazons, Sameer, who wanted to be an actor but had the &quot;<em>...wrong skin color. We all have our fights, Diana</em>&quot;. The Chief, a native guy who gave a touch of freshness and uniqueness to the movie, etc. They were a bit token-like though, and could use more lines.</p>

<p><strong>The fights were so enjoyable</strong>. They seem to have intentionally created a specific fighting style for the Amazon battles: there is a lot of jumping and shooting arrows from the air or from a horse in movement, well coreografied fight techniques, and I really liked the slow motion and the badass moment of Queen Hypolita who fought in an elegant, strong and powerful style. She was a delight to watch.</p>

<p><strong>The horses scene in the beach</strong>, Amazons vs WWI soldiers. Not sure that has been done before and it was very impressive. I could honestly watch an entire movie of Amazons fighting the bad guys.</p>

<p><strong>The strong contrast</strong> between the idyllic, paradisiac Themyscira, and the grey and depressing London and war zone.</p>

<p><strong>The movie soundtrack</strong>, and how well it was used in the movie. For example, those moments of silence and tension, then the main theme sounds. I really like the Wonder Woman theme.</p>

<p><strong>The accents:</strong> I really liked how Queen Hyppolita and Antiope speak with accents, and the fact that there are several languages across the movie.</p>

<p><strong>The island:</strong> it was so well designed, the clothing, etc. You could make a whole movie in there, or a TV show. It was very real. I would certainly like to see more of it, everything happened too fast in there, although I've read people saying it seem eternal for them. WAT.</p>

<p><strong>The daguerreotype picture:</strong> I don't know why, but that picture has something special that I don't know how to describe. Two different worlds, all the guys dressing poorly and looking tired and worried, in the middle of the war, and a godess in the middle, with a strong expression, her clothes are also a mess but she has some kind of aura, still getting her hands dirty to do what is right. It also kind of reminds me of the Hellboy picture of all the soldiers posing with the boy. I dunno. What does the picture evoke you, if anything?</p>

<figure>
  <img src="<%= image_host %>/images/uploads/2017/06/wonder-woman-movie-picture.jpg" width="600" height="325" alt="Daguerreotype picture of Wonder Woman with her WWI team">
  <img src="<%= image_host %>/images/uploads/2017/06/wonder-woman-hellboy-picture.jpg" width="824" height="471" alt="The pciture from the Hellboy movie">
  <figcaption>Different comics, similar pictures</figcaption>
</figure>

<p><strong>Diana's assertive moments</strong>, and the fact that she doesn't let anybody tell her what to do</p>

<p><strong>The mad scientist</strong>, what a magnificent work by Elena Anaya, protraying this woman that has such a dark hole of torment inside that you can see it so clearly from the outside. She is mad, she is lonely, she is vulnerable, and over all, she is really lost. <a href="https://www.theverge.com/2017/6/13/15792508/elena-anaya-patty-jenkins-wonder-woman-villain-dr-maru-poison-secret-origin">Anaya said in an interview that she took inspiration from the real story of Fritz Haber</a>, who worked for the Germans creating bio-weapons.</p>
