---
layout: work
title: Mystic from the Dark Crystal
date: 2013-01-05 11:54:43.000000000 +00:00
type: work
published: true
status: publish
categories:
- Illustration
tags:
- realistic
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2013/11/illust-mystic-featured.jpg
featured_image_alt: 'Mystic from Dark Crystal preview'
---
<p>This is a commissioned fanart I made for a client.</p>
<p>Whole poster (with watermark):</p>
<p><a href="<%= image_host %>/images/uploads/2013/11/illust-mystic1.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2013/11/illust-mystic1.jpg" alt="Mystic from The Dark Crystal" width="1100" height="778" /></a></p>
<p><a href="<%= image_host %>/images/uploads/2013/11/illust-mystic2.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2013/11/illust-mystic2.jpg" alt="Mystic from The Dark Crystal - mug" width="1000" height="900" /></a></p>
<p><a href="<%= image_host %>/images/uploads/2013/11/illust-mystic3.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2013/11/illust-mystic3.jpg" alt="Mystic from The Dark Crystal - T-Shirt" width="1100" height="733" /></a></p>
