---
layout: work
title: "Moe's cafe"
date: 2014-01-23 12:22:31.000000000 +00:00
type: work
published: true
status: publish
categories:
- Illustration
tags:
- cartoon
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2014/01/illust-moe-featured.jpg
featured_image_alt: "Moe's cafe vintage preview"
---
<p>This is a commission for a client who wanted their dog to be portrayed as a classic actor, and wearing a suit. So I thought of Casablanca and the thirties.</p>
<p>Full illustration (with watermark):</p>
<p><a href="<%= image_host %>/images/uploads/2014/01/illust-moe1.jpg"><img src="<%= image_host %>/images/uploads/2014/01/illust-moe1.jpg" alt="Illustration - Moe&#039;s cafe - full" width="1100" height="1556" class="aligncenter" /></a></p>
<p>Sketch before inking:</p>
<p><a href="<%= image_host %>/images/uploads/2014/01/illust-moe2.png"><img src="<%= image_host %>/images/uploads/2014/01/illust-moe2.png" alt="Illustration - Moe&#039;s cafe - sketch" width="1100" height="1556" class="aligncenter" /></a></p>
<p><a href="<%= image_host %>/images/uploads/2014/01/illust-moe3.jpg"><img src="<%= image_host %>/images/uploads/2014/01/illust-moe3.jpg" alt="Illustration - Moe&#039;s cafe - poster" width="1097" height="1509" class="aligncenter" /></a></p>
