---
layout: work
title: 'Gail from Sin City'
date: 2015-04-04 14:31:05.000000000 +01:00
type: work
published: true
status: publish
categories:
- Illustration
tags:
- 'black &amp; white'
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2015/04/illust-rosarioSinCity-featured.jpg
featured_image_alt: 'Rosario Sin City fanart preview'
---
<p>This was a commission for a client.</p>
<p>In full (with watermark):</p>
<p><a href="<%= image_host %>/images/uploads/2015/04/illust-rosarioSinCity1.jpg"><img src="<%= image_host %>/images/uploads/2015/04/illust-rosarioSinCity1-1024x724.jpg" alt="Gail from Sin City - full" width="840" height="594" class="aligncenter" /></a></p>
<p><a href="<%= image_host %>/images/uploads/2015/04/illust-rosarioSinCity2.jpg"><img src="<%= image_host %>/images/uploads/2015/04/illust-rosarioSinCity2-1024x838.jpg" alt="Gail from Sin City - mug" width="840" height="687" class="aligncenter" /></a></p>
<p><a href="<%= image_host %>/images/uploads/2015/04/illust-rosarioSinCity3.jpg"><img src="<%= image_host %>/images/uploads/2015/04/illust-rosarioSinCity3.jpg" alt="Gail from Sin City - framed" width="530" height="400" class="aligncenter" /></a></p>
