---
layout: work
title: Rockbot fanart
date: 2015-03-24 13:27:27.000000000 +00:00
type: work
published: true
status: publish
categories:
- Illustration
tags:
- cartoon
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2015/03/illust-rockbot-featured.jpg
featured_image_alt: 'Rockbot fanart preview'
---
<p><a href="<%= image_host %>/images/uploads/2015/03/illust-rockbot.jpg"><img src="<%= image_host %>/images/uploads/2015/03/illust-rockbot.jpg" alt="Fanart of Rockbot - preview" width="1100" height="1556" class="aligncenter" /></a></p>

<p>Some time ago I suggested that Raquel Vélez (known in the internet as <a href="http://twitter.com/rockbot">@rockbot</a>), could be interviewed by the Platzi team, since she is such an inspiration for any developer out there, and probably one of the smartest people in the tech industry nowadays. And, she is not only a badass professional, but also a badass PERSON.</p>

<p>The other reason why it would be so perfect has to do with the LATIN POWAH! Her family is from Puerto Rico, while Platzi is one of the biggest companies from Colombia whose employees are from a bunch of different American countries. I've been following the Platzi team since before <a href="www.cristalab.com">CristaLab</a> and <a href="https://www.maestrosdelweb.com/">Maestros del Web</a> joined to form Mejor&aacute;ndola (Platzi). How come these two cool latin forces hadn't met each other yet? They totally should! So I tweeted to Platzi asking them to have her in their live show.</p>

<p>Usually you send these messages in a bottle in the hope that somebody will read them, but it never really happens... well, not only my message was read, the planets aligned and we were able to say "<em>habemus rockbot</em>" in Platzi live.</p>

<p>Rockbot is a very busy person, so I decided to make a fanart as a <em>thank you</em> for accepting to be interviewed. This illustration is like a fanart of a REAL human being. :-P</p>

<p>In full:</p>

<p><a href="<%= image_host %>/images/uploads/2015/03/illust-rockbot1.jpg"><img src="<%= image_host %>/images/uploads/2015/03/illust-rockbot1.jpg" alt="Fanart of Rockbot - full" width="1100" height="1556" class="aligncenter" /></a></p>
<p><a href="<%= image_host %>/images/uploads/2015/03/illust-rockbot2.jpg"><img src="<%= image_host %>/images/uploads/2015/03/illust-rockbot2.jpg" alt="Fanart of Rockbot - T-Shirt" width="1100" height="733" class="aligncenter" /></a></p>
<p><a href="<%= image_host %>/images/uploads/2015/03/illust-rockbot3.jpg"><img src="<%= image_host %>/images/uploads/2015/03/illust-rockbot3.jpg" alt="Fanart of Rockbot - poster" width="530" height="550" class="aligncenter" /></a></p>
