---
layout: work
title: Smackjeeves theme - Blue Dot
date: 2009-08-04 19:37:31.000000000 +01:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- SmackJeeves
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2009/08/webdev-smackjeeves-featured.png
featured_image_alt: 'Smackjeeves theme Blue dot preview'
---
<p><a href="<%= image_host %>/images/uploads/2009/08/webdev-smackjeeves.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2009/08/webdev-smackjeeves.jpg" alt="Smackjeeves theme Blue dot" width="700" height="644" /></a></p>
<table>
<tbody>
<tr>
<th>See it in action</th>
<td><a title="Smackjeeves Template" href="http://bluedot.smackjeeves.com/">bluedot.smackjeeves.com</a></td>
</tr>
<tr>
<th>Creation Date</th>
<td>2009.</td>
</tr>
<tr>
<th>Technologies</th>
<td>XHTML 1.1 Trans, CSS3, Javascript, stats engine, AddThis widget.</td>
</tr>
<tr>
<th>Testing</th>
<td>Ubuntu/Windows, Firefox/Chrome/IE9.</td>
</tr>
<tr>
<th>Language</th>
<td>English.</td>
</tr>
<tr>
<th>Description</th>
<td>Smackjeeves template for the display of comic pages.</td>
</tr>
<tr>
<th>Color scheme</th>
<td><a href="<%= image_host %>/images/uploads/2009/08/webdev-smackjeeves-colors.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2009/08/webdev-smackjeeves-colors.png" alt="Smackjeeves theme Blue dot - color scheme" width="78" height="18" /></a></td>
</tr>
</tbody>
</table>
<p>Sample comic page layout:<br />
<a href="<%= image_host %>/images/uploads/2009/08/webdev-smackjeeves1.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2009/08/webdev-smackjeeves1.jpg" alt="Smackjeeves theme Blue dot - sample comic page" width="633" height="941" /></a></p>
<p>Archives page:<br />
<a href="<%= image_host %>/images/uploads/2009/08/webdev-smackjeeves2.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2009/08/webdev-smackjeeves2-615x1024.png" alt="Smackjeeves theme Blue dot - Archives page" width="615" height="1024" /></a></p>
<p>Cast page:<br />
<a href="<%= image_host %>/images/uploads/2009/08/webdev-smackjeeves3.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2009/08/webdev-smackjeeves3-1024x825.png" alt="Smackjeeves theme Blue dot - cast page" width="840" height="677" /></a></p>
