---
layout: work
title: Research site - Gamma group
date: 2010-03-04 19:58:05.000000000 +00:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- science
- research site
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2010/03/webdev-gamma-featured.jpg
featured_image_alt: 'research site for the Gamma group'
---
<p><a href="<%= image_host %>/images/uploads/2010/03/webdev-gamma.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2010/03/webdev-gamma.jpg" alt="research site for the Gamma group" width="700" height="644" /></a></p>
<table>
<tbody>
<tr>
<th>See it in action</th>
<td><a title="Gamma Website" href="http://meestevezaguado.tk/webs/w_gamma/index_en.php">Gamma Group Website</a></td>
</tr>
<tr>
<th>Creation Date</th>
<td>2010.</td>
</tr>
<tr>
<th>Technologies</th>
<td>PHP, HTML5, CSS3, stats engine, AA accessibility level, responsive design</td>
</tr>
<tr>
<th>Testing</th>
<td>Ubuntu/Windows, Firefox/Chrome/IE9.</td>
</tr>
<tr>
<th>Language</th>
<td>English and Spanish.</td>
</tr>
<tr>
<th>Description</th>
<td>Proposed web template to renew the functionality and look of the GS Group webpage, to be used with a CMS like WordPress</td>
</tr>
<tr>
<th>Color scheme</th>
<td><a href="<%= image_host %>/images/uploads/2010/03/webdev-gamma-colors.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2010/03/webdev-gamma-colors.png" alt="research site for the Gamma group - color scheme" width="98" height="38" /></a></td>
</tr>
</tbody>
</table>
<p>Research lines page:<br />
<a href="<%= image_host %>/images/uploads/2010/03/webdev-gamma1.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2010/03/webdev-gamma1-542x1024.png" alt="research site for the Gamma group - screenshot" width="542" height="1024" /></a></p>
