---
layout: work
title: Portfolio site - Simple site with PHP
date: 2011-07-04 20:11:23.000000000 +01:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- portfolio site
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2011/07/webdev-personal-featured.jpg
featured_image_alt: 'Simple PHP portfolio site preview'
---
<p><strong>Update:</strong> This site has now a stationary pack designed specially for it. <a href="/work/projects/stationery-psd-cv-layout">Check it out</a>!<br />
<a href="<%= image_host %>/images/uploads/2011/07/webdev-personal.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/07/webdev-personal.jpg" alt="Simple PHP portfolio site" width="700" height="644" /></a></p>
<table>
<tbody>
<tr>
<th>See it in action</th>
<td><a title="M. E. " href="http://meestevezaguado.tk">http://meestevezaguado.tk</a></td>
</tr>
<tr>
<th>Creation Date</th>
<td>2011.</td>
</tr>
<tr>
<th>Technologies</th>
<td>PHP, HTML5, CSS3, stats engine, AddThis widget, responsive design</td>
</tr>
<tr>
<th>Testing</th>
<td>Ubuntu/Windows, Firefox/Chrome/IE9.</td>
</tr>
<tr>
<th>Language</th>
<td>English.</td>
</tr>
<tr>
<th>Description</th>
<td>Very simple portfolio webpage. Straightforward, with no complications and easy to maintain.</td>
</tr>
<tr>
<th>Color scheme</th>
<td><a href="<%= image_host %>/images/uploads/2011/07/webdev-personalcolors.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/07/webdev-personalcolors.png" alt="Simple PHP portfolio site - color scheme" width="78" height="38" /></a></td>
</tr>
</tbody>
</table>
<p>Thumbnails page:<br />
<a href="<%= image_host %>/images/uploads/2011/07/webdev-personal1.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/07/webdev-personal1-1024x874.jpg" alt="Simple PHP portfolio site - thumbnails" width="840" height="717" /></a></p>
<p>Slide-like for single pages showing pictures:<br />
<a href="<%= image_host %>/images/uploads/2011/07/webdev-personal2.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/07/webdev-personal2-1024x874.jpg" alt="Simple PHP portfolio site - sample single page" width="840" height="717" /></a></p>
