---
layout: work
title: WordPress theme - Tu cine y más
date: 2011-09-23 20:21:44.000000000 +01:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- WordPress
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2011/09/webdev-tucineymas-featured.png
featured_image_alt: 'WordPress theme - Tu cine y más preview'
---
<p><a href="<%= image_host %>/images/uploads/2011/09/webdev-tucineymas.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/09/webdev-tucineymas.jpg" alt="WordPress theme - Tu cine y más" width="700" height="644" /></a></p>
<table>
<tbody>
<tr>
<th>See it in action</th>
<td><a class="weblink" title="WordPress Template" href="http://tucineymas.comuv.com">WordPress Template</a></td>
</tr>
<tr>
<th>Creation Date</th>
<td>2011.</td>
</tr>
<tr>
<th>Technologies</th>
<td>PHP, MySQL, HTML5, CSS3, responsive design, jQuery</td>
</tr>
<tr>
<th>Testing</th>
<td>Ubuntu/Windows, Firefox/Chrome/IE9.</td>
</tr>
<tr>
<th>Language</th>
<td>Spanish.</td>
</tr>
<tr>
<th>Description</th>
<td>Very simple WordPress Template made from scratch, with a top-menu of categories, jQuery featured-posts carrousel and custom widgets.</td>
</tr>
<tr>
<th>Color scheme</th>
<td><a href="<%= image_host %>/images/uploads/2011/09/webdev-tucineymas-colors.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/09/webdev-tucineymas-colors.png" alt="WordPress theme - Tu cine y más color schemes" width="78" height="38" /></a></td>
</tr>
</tbody>
</table>
<h2>Menu bar:</h2>
<a href="<%= image_host %>/images/uploads/2011/09/webdev-tucineymas1.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/09/webdev-tucineymas1-1024x147.png" alt="WordPress theme - Tu cine y más - menu bar" width="840" height="121" /></a></p>
<h2>Carousel with jQuery:</h2>
<a href="<%= image_host %>/images/uploads/2011/09/webdev-tucineymas2.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/09/webdev-tucineymas2.jpg" alt="WordPress theme - Tu cine y más - carousel" width="748" height="493" /></a></p>
<h2>Sample post:</h2>
<a href="<%= image_host %>/images/uploads/2011/09/webdev-tucineymas3.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/09/webdev-tucineymas3-664x1024.png" alt="webdev-tucineymas3" width="664" height="1024" /></a></p>
