---
layout: work
title: WordPress theme - Terapia de Física
date: 2011-10-02 20:45:36.000000000 +01:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- WordPress
- science
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2011/10/webdev-terapia-featured.jpg
featured_image_alt: 'WordPress theme - Terapia de física'
---
<p><a href="<%= image_host %>/images/uploads/2011/10/webdev-terapia.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/10/webdev-terapia.jpg" alt="WordPress theme - Terapia de física" width="700" height="644" /></a></p>
<table>
  <tbody>
    <tr>
      <th>See it in action</th>
      <td><a class="weblink" href="http://terapiadefisica.webuda.com">terapiadefisica.webuda.com</a></td>
    </tr>
    <tr>
      <th>Creation Date</th>
      <td>2011.</td>
    </tr>
    <tr>
      <th>Technologies</th>
      <td>PHP/MySQL, HTML5, CSS3, stats engine, responsive design.</td>
    </tr>
    <tr>
      <th>Testing</th>
      <td>Ubuntu/Windows, Firefox/Chrome/IE9.</td>
    </tr>
    <tr>
      <th>Language</th>
      <td>Spanish.</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>WordPress template: Proposed web template for a NGO dedicated to the popularization of physics. Custom menus, custom archives, custom pages and custom navigation. Thumbnail and post format support. Seven sidebars.</td>
    </tr>
    <tr>
      <th>Color scheme</th>
      <td><a href="<%= image_host %>/images/uploads/2011/10/webdev-terapia-colors.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/10/webdev-terapia-colors.png" alt="WordPress theme - Terapia de física - color scheme" width="98" height="38" /></a></td>
    </tr>
  </tbody>
</table>
<h2>Sample page</h2>
<p><a href="<%= image_host %>/images/uploads/2011/10/webdev-terapia1.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/10/webdev-terapia1-1024x505.png" alt="WordPress theme - Terapia de física - post its" width="840" height="414" /></a></p>
<h2>Sample category page</h2>
<p><a href="<%= image_host %>/images/uploads/2011/10/webdev-terapia2.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/10/webdev-terapia2-1024x489.png" alt="WordPress theme - Terapia de física - category page" width="840" height="401" /></a></p>
<h2>Photo album</h2>
<p><a href="<%= image_host %>/images/uploads/2011/10/webdev-terapia3.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/10/webdev-terapia3-1024x507.png" alt="WordPress theme - Terapia de física - photo album" width="840" height="416" /></a></p>
<h2>Custom error page</h2>
<p><a href="<%= image_host %>/images/uploads/2011/10/webdev-terapia4.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2011/10/webdev-terapia4-1024x442.png" alt="WordPress theme - Terapia de física - error page" width="840" height="363" /></a></p>
