---
layout: work
title: Jekyll site - Particle physics snippets
date: 2012-08-27 21:07:05.000000000 +01:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- Jekyll
- science
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2012/08/webdev-ppsnippets-featured.png
featured_image_alt: 'Jekyll site particle physics snippets'
---
<p><a href="<%= image_host %>/images/uploads/2012/08/webdev-ppsnippets.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2012/08/webdev-ppsnippets.png" alt="Jekyll site particle physics snippets" width="700" height="644" /></a></p>
<h2>Visit the site</h2>
<p><a class="weblink" href="https://ppsnippets.tk">https://ppsnippets.tk</a></p>
<p>You can also check out the <a href="/blog/web-development/my-first-jekyll-site/">blog post</a>.</p>
<h2>Color scheme</h2>
<p><a href="<%= image_host %>/images/uploads/2012/08/webdev-ppsnippetscolors.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2012/08/webdev-ppsnippetscolors.png" alt="webdev-ppsnippetscolors" width="78" height="18" /></a></p>
<h2>Screenshot</h2>
<p><a href="<%= image_host %>/images/uploads/2012/08/webdev-ppsnippets1.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2012/08/webdev-ppsnippets1.png" alt="Jekyll site particle physics snippets -screenshot" width="800" height="6836" /></a></p>
