---
layout: work
title: Jekyll site - Cosmic radiation
date: 2013-07-15 21:29:52.000000000 +01:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- featured
- Jekyll
- science
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2013/07/webdev-cosmicrad-featured.jpg
featured_image_alt: 'Jekyll site - Cosmic radiation preview'
---
<p><a href="<%= image_host %>/images/uploads/2013/07/webdev-cosmicrad.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2013/07/webdev-cosmicrad.jpg" alt="Jekyll site - Cosmic radiation" width="700" height="644" /></a></p>
<p>Some time ago I wrote <a href="/work/projects/book-layout-lab-guide">a lab guide</a> for my students, and recently redesigned it using LaTeX. This is the site where I host the lab guide and some of the code.</p>
<h2>Visit the site here:</h2>
<p><a class="weblink" href="https://cosmicrad.tk">https://cosmicrad.tk</a></p>
<p>You can also check out the dedicated <a href="/blog/web-development/jekyll-highlight-current-menu-item">blog post</a> about how the site was built.</p>
<h2>Color scheme:</h2>
<p><a href="<%= image_host %>/images/uploads/2013/07/webdev-cosmicradcolors.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2013/07/webdev-cosmicradcolors.png" alt="Jekyll site - Cosmic radiation - color scheme" width="98" height="38" /></a></p>
<h2>Screenshot:</h2>
<p><a href="<%= image_host %>/images/uploads/2013/07/webdev-cosmicrad1.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2013/07/webdev-cosmicrad1.jpg" alt="Jekyll site - Cosmic radiation - screenshot" width="800" height="3961" /></a></p>
