---
layout: work
title: Jekyll site - C# snippets (WIP)
date: 2015-08-20 18:15:05.000000000 +01:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- featured
- Jekyll
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2016/05/webdev-csharpsnippets-featured.png
featured_image_alt: 'C-Sharp Snippets preview'
---
<p><a href="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets.png" alt="Jekyll site - C# snippets" width="700" height="644" /></a><br />
The contents of this site are still a work in progress.</p>
<h2>Visit site:</h2>
<p><a class="weblink" href="http://csharpsnippets.tk">http://csharpsnippets.tk</a></p>
<h2>Color scheme:</h2>
<p><a href="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippetscolors.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippetscolors.png" alt="Jekyll site - C# snippets colors" width="78" height="38" /></a></p>
<h2>Screenshots</h2>
<h3>Gallery animation</h3>
<a href="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets1.gif"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets1.gif" alt="Jekyll site - C# snippets topics" width="484" height="476" /></a></p>
<h3>Buttons animation:</h3>
<p><a href="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets2.gif"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets2.gif" alt="Jekyll site - C# snippets buttons" width="493" height="477" /></a></p>
<h3>Social icons animation:</h3>
<p><a href="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets3.gif"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets3.gif" alt="Jekyll site - C# snippets social icons" width="439" height="476" /></a></p>
<h3>Menu items animation:</h3>
<p><a href="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets4.gif"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets4.gif" alt="Jekyll site - C# snippets menu items" width="492" height="476" /></a></p>
<h3>Full sample page:</h3>
<p><a href="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets5.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-csharpsnippets5.png" alt="Jekyll site - C# snippets full" width="1100" height="8083" /></a></p>
