---
layout: work
title: Jekyll site - Img. processing
date: 2015-06-20 17:38:14.000000000 +01:00
type: work
published: true
status: publish
categories:
- Web Development
tags:
- Jekyll
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2016/05/webdev-imgproc-featured.png
featured_image_alt: 'Jekyll site Image processing preview'
---
<p><a href="<%= image_host %>/images/uploads/2016/05/webdev-imgproc.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-imgproc.png" alt="Jekyll site - Image processing algorithms" width="700" height="644" /></a></p>
<h2>Visit the site</h2>
<p><a class="weblink" href="http://imgprocessing.tk"> http://imgprocessing.tk</a></p>
<h2>Color scheme:</h2>
<p><a href="<%= image_host %>/images/uploads/2016/05/webdev-imgproccolors.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-imgproccolors.png" alt="Jekyll site - Image processing algorithms colors" width="98" height="18" /></a></p>
<h2>Screenshots</h2>
<h3>Menu</h3>
<p><a href="<%= image_host %>/images/uploads/2016/05/webdev-imgproc1.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-imgproc1.png" alt="Jekyll site - Image processing algorithms menu" width="664" height="223" /></a></p>
<p>Table of contents appears on <code class="language-css">:hover</code></p>
<p><a href="<%= image_host %>/images/uploads/2016/05/webdev-imgproc2.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-imgproc2.png" alt="Jekyll site - Image processing algorithms toc" width="273" height="624" /></a></p>
<h2>Full sample page:</h2>
<p><a href="<%= image_host %>/images/uploads/2016/05/webdev-imgproc3.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2016/05/webdev-imgproc3.png" alt="Jekyll site - Image processing algorithms full" width="800" height="4089" /></a></p>
