---
layout: work
title: Technical projects
date: 2008-03-21 13:46:13.000000000 +00:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- science
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2008/03/projects-technical-featured.jpg
featured_image_alt: 'Technical projects'
---
<p>I worked as a programmer and data analyst in the field of physics research for around eight years. During that time, I had to do a lot of technical talks, produce engaging posters to present the results of my work, and write technical papers for the publication in research journals.</p>
<p>I also contributed to activities for the popularization of science, for which I got some media recognition at the time.</p>
<p>Here I show a selection of pieces I created during that period:</p>
<p></p>
<h2>Technical presentations, data plots and data analysis</h2>
<p><a href="<%= image_host %>/images/uploads/2008/03/projects-technical1.jpg"><img src="<%= image_host %>/images/uploads/2008/03/projects-technical1.jpg" alt="Technical projects - Thesis" width="840" height="628" class="aligncenter" /></a></p>
<p></p>
<h2>Slide of a presentation, hopefully making complex concepts easier to understand</h2>
<p><a href="<%= image_host %>/images/uploads/2008/03/projects-technical2.jpg"><img src="<%= image_host %>/images/uploads/2008/03/projects-technical2.jpg" alt="Technical projects - neutrinos" width="840" height="630" class="aligncenter" /></a></p>
<p></p>
<h2>Publications in specialized journals (technical writing)</h2>
<p><a href="<%= image_host %>/images/uploads/2008/03/projects-technical3.jpg"><img src="<%= image_host %>/images/uploads/2008/03/projects-technical3.jpg" alt="Technical projects - papers" width="919" height="812" class="aligncenter" /></a></p>
<p></p>
<h2>Posters</h2>
<p><a href="<%= image_host %>/images/uploads/2008/03/projects-technical4.jpg"><img src="<%= image_host %>/images/uploads/2008/03/projects-technical4.jpg" alt="Technical projects - poster" width="494" height="700" class="aligncenter" /></a></p>
<p></p>
<p><a href="<%= image_host %>/images/uploads/2008/03/projects-technical5.jpg"><img src="<%= image_host %>/images/uploads/2008/03/projects-technical5.jpg" alt="Technical projects - poster" width="840" height="595" class="aligncenter" /></a></p>
<p></p>
<h2>Popularization of science</h2>
<p><a href="<%= image_host %>/images/uploads/2008/03/projects-technical6.jpg"><img src="<%= image_host %>/images/uploads/2008/03/projects-technical6.jpg" alt="projects-technical - poster" width="700" height="509" class="aligncenter" /></a></p>
<p></p>
<h2>Press cut of a media appearance</h2>
<p><a href="<%= image_host %>/images/uploads/2008/03/projects-technical7.jpg"><img src="<%= image_host %>/images/uploads/2008/03/projects-technical7.jpg" alt="Technical projects - press cut" width="840" height="649" class="aligncenter" /></a></p>
