---
layout: work
title: GUI - Videogame interface design
date: 2013-03-13 16:45:11.000000000 +00:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- 'GUI design'
- games
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2013/03/projects-videogame-featured.jpg
featured_image_alt: 'Racing videogame preview'
---
<p>This design takes the mobile racing games, such as Real Racing 3, GT Racing or Asphalt Series, as a basis. It's a personal vision of an ergonomic menu flow according to the whole game look and feel.</p>
<p>Most of the layout for buttons and menus is based on studies about how human fingers move through the screen of a smartphone.</p>
<p>The cars' names are based on famous film directors.</p>
<p>Main menu screen:</p>
<p><a href="<%= image_host %>/images/uploads/2013/03/projects-videogame0.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2013/03/projects-videogame0.jpg" alt="Videogame interface design - " width="700" height="473" /></a></p>
<p>Select a series screen:</p>
<p><a href="<%= image_host %>/images/uploads/2013/03/projects-videogame1.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2013/03/projects-videogame1-1024x718.jpg" alt="Videogame interface design - series" width="840" height="589" /></a></p>
<p>Select a car screen:</p>
<p><a href="<%= image_host %>/images/uploads/2013/03/projects-videogame2.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2013/03/projects-videogame2.png" alt="Videogame interface design - cars" width="1100" height="771" /></a></p>
<p>Promotions screen:</p>
<p><a href="<%= image_host %>/images/uploads/2013/03/projects-videogame3.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2013/03/projects-videogame3.jpg" alt="Videogame interface design - promotions" width="1100" height="771" /></a></p>
