---
layout: work
title: Solfeo book with LaTeX (WIP)
date: 2015-05-10 18:51:22.000000000 +01:00
type: work
published: true
status: publish
categories:
- Projects
tags:
- featured
- book
author:
  display_name: Octopus in vitro
  first_name: ''
  last_name: ''
featured_image: /images/uploads/2015/05/projects-solfeo-featured.jpg
featured_image_alt: 'Solfeo book preview'
---
<p>This is still a work in progress!</p>

<p>It's a book about Solfeo (Solfège) that I've been trying to write since ages ago. It's designed entirely with LaTeX because I'm a masochist. But also for the learning! Everything I do is for the sake of learning!</p>
<p>Covers:<br />
<a href="<%= image_host %>/images/uploads/2015/05/projects-solfeo1.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2015/05/projects-solfeo1.jpg" alt="Solfeo book layout design - covers" width="1000" height="750" /></a></p>
<p>Table of contents:<br />
<a href="<%= image_host %>/images/uploads/2015/05/projects-solfeo2.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2015/05/projects-solfeo2.png" alt="Solfeo book layout design - contents" width="840" height="632" /></a></p>
<p>Detail of the titles' styles:<br />
<a href="<%= image_host %>/images/uploads/2015/05/projects-solfeo3.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2015/05/projects-solfeo3.png" alt="Solfeo book layout design - titles" width="751" height="483" /></a></p>
<p>Detail of the pages:<br />
<a href="<%= image_host %>/images/uploads/2015/05/projects-solfeo4.png"><img class="aligncenter" src="<%= image_host %>/images/uploads/2015/05/projects-solfeo4.png" alt="Solfeo book layout design - pages" width="840" height="217" /></a></p>
<p>Section titles:<br />
<a href="<%= image_host %>/images/uploads/2015/05/projects-solfeo5.jpg"><img class="aligncenter" src="<%= image_host %>/images/uploads/2015/05/projects-solfeo5.jpg" alt="Solfeo book layout design - details" width="1000" height="750" /></a></p>
