---
title: About - Octopus in vitro
blog: blog
---

<article>

  <h1>About</h1>

  <div class="wrapper">
    <p>Hi!</p>

    <p>I'm a <a href="/work">polyglot developer</a>, <a href="/work/illustration">illustrator</a> and <a href="/blog/thoughts/how-to-learn-drums">musician</a> with too many hobbies, a background in <a href="/blog/code-and-tech/magnetic-tapes-and-octal-dump-1">scientific research</a>, and a wide experience <a href="/about#I-love-travelling">working abroad</a> with multicultural teams.</p>

    <p>I started this blog more than a decade ago. There wasn't anything I wanted to achieve with it. I write for myself, about what I want, when I feel like it.</p>

    <p>I had a bunch of sites from the beginning of 2000 but I was never convinced about them. Around 2013-2014 I settled for the design and features you see now, and haven't updated it much since.</p>

    <p>You will find anything from posts about <a href="/blog/tags/git/">Git</a>, <a href="/blog/tags/python/">python</a>, <a href="/blog/tags/ruby/">ruby</a>, <a href="/blog/tags/bash/">Bash</a> or <a href="/blog/tags/html/">web development</a>, to reviews of <a href="/blog/thoughts/her">movies that I liked</a>. I may also swear from time to time, I hope you don't have issues with that.

  </div>

  <section class="wrapper floating-octopus">
    <figure class="floating-octopus-img">
      <img src="<%= image_host %>/images/octopus.png" width="260" height="181" alt="octopus raising shoulders">
      <figcaption>Floating octopus</figcaption>
    </figure>

    <div class="floating-octopus-text">
      <p>Oh, yeah... I'm also an octopus.</p>

      <p>In my planet, octopuses are <em>very-shy</em> creatures. They like to be <em>behind</em> the camera, and help <em>in the background</em>.</p>

      <p><strong>I don't like to have pictures of myself online, or my name publicly displayed</strong>. Please understand and respect that.</p>
    </div>
  </section>

  <section class="wrapper" id="I-love-travelling">
    <h2>I love travelling!</h2>

    <p>As a creature from another planet, I'm very interested in your different human cultures.</p>

    <p>So far, I've lived and worked in 11 cities, 8 countries and 3 continents, and have visited much more. Definitely less places than I would like to, but I'm always open to move abroad to work in other places and learn more about different aproaches to life!</p>
  </section>

  <section>
    <div id="map"></div>
    <p class="wrapper"><strong>Legend:</strong>
      <svg aria-hidden="true" class="icon-lived"><use href="/images/symbol-defs.svg#icon-lived"></use></svg> lived
      <svg aria-hidden="true" class="icon-lived"><use href="/images/symbol-defs.svg#icon-worked"></use></svg> worked (click the markers to know more)
    </p>
  </section>

  <section class="wrapper">
    <blockquote cite="http://en.wikiquote.org/wiki/Carl_Sagan#Cosmos_.281980.29">
      <p><em>National boundaries are not evident when we view the Earth from space. Fanatical ethnic or religious or national chauvinisms are a little difficult to maintain when we see our planet as a fragile blue crescent fading to become an inconspicuous point of light against the bastion and citadel of the stars. Travel is broadening</em>.
      </p>
      <p>Carl Sagan, COSMOS (p. 318) 1980.</p>
    </blockquote>
  </section>

  <section class="wrapper diagonal-top diagonal-bot" style="text-align: right">
    <h2>Some things I like</h2>
    <ul class="no-bullet-points">
      <li>Travelling</li>
      <li>Building things</li>
      <li>Scandinavian folk metal</li>
      <li>Dark beer (stouts)</li>
      <li>Science fiction and fantasy</li>
      <li>Mythology and ancient cultures</li>
      <li>Playing and writing music</li>
      <li>Drawing</li>
      <li>European comics</li>
      <li>Retro, pixel and hand-drawn 2D videogames</li>
      <li>Honesty and truth in general</li>
    </ul>
  </section>

  <section>
    <div class="wrapper">
      <h2>Some people I'm inspired by</h2>
      <p>In no particular order.</p>
    </div>

    <ul class="inspire">
      <li class="hexagon">
        <a href="http://en.wikipedia.org/wiki/Carl_Sagan">
          <img src="<%= image_host %>/images/about-carlsagan.jpg" width="200" height="173" alt="Carl Sagan">
          <div class="over">
            <span>Carl<br>Sagan</span>
          </div>
        </a>
      </li>
      <li class="hexagon">
        <a href="http://lea.verou.me/cv.html">
          <img src="<%= image_host %>/images/about-leaverou.jpg" width="200" height="173" alt="Lea Verou">
          <div class="over">
            <span>Lea<br>Verou</span>
          </div>
        </a>
      </li>
      <li class="hexagon">
        <a href="https://www.youtube.com/watch?v=1ThCusVQ4Zw">
          <img src="<%= image_host %>/images/about-georgesmelies.jpg" width="200" height="173" alt="Georges M&eacute;li&egrave;s">
          <div class="over">
            <span>Georges<br>M&eacute;li&egrave;s</span>
          </div>
        </a>
      </li>
      <li class="hexagon">
        <a href="https://www.youtube.com/watch?v=fatAqXSAy_8">
          <img src="<%= image_host %>/images/about-albertcasals.jpg" width="200" height="173" alt="Albert Casals">
          <div class="over">
            <span>Albert<br>Casals</span>
          </div>
        </a>
      </li>
      <li class="hexagon">
        <a href="http://blog.amandapalmer.net/20130713/">
          <img src="<%= image_host %>/images/about-amandapalmer.jpg" width="200" height="173" alt="Amanda Palmer">
          <div class="over">
            <span>Amanda<br>Palmer</span>
          </div>
        </a>
      </li>
      <li class="hexagon">
        <a href="https://www.ted.com/talks/ziauddin_yousafzai_my_daughter_malala">
          <img src="<%= image_host %>/images/about-malala.jpg" width="200" height="173" alt="Malala Yousafzai">
          <div class="over">
            <span>Malala<br>Yousafzai</span>
          </div>
        </a>
      </li>
      <li class="hexagon">
        <a href="https://www.youtube.com/watch?v=BUmV6fsZegs">
          <img src="<%= image_host %>/images/about-saronyitbarek.jpg" width="200" height="173" alt="Saron Yitbarek">
          <div class="over">
            <span>Saron<br>Yitbarek</span>
          </div>
        </a>
      </li>
    </ul>
  </section>
</article>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin="">
</script>
<script src="/javascripts/map.js"></script>
<script>
  (function() {
    window.addEventListener('load', function() {
      let token = 'pk.eyJ1Ijoib2N0b3B1c2ludml0cm8iLCJhIjoiY2s5cTZ5MnRlMGhlOTNubW14dWQ3NjJkNCJ9.G-rrNuSyagqnbFLpRG1aag';
      let markers = [
        { legend: 'RCNP, Osaka',        coordinates: [34.826857, 135.527157], type: 1 },
        { legend: 'JYFL, Jyväskylä',    coordinates: [62.236664,  25.731612], type: 1 },
        { legend: 'ISOLDE, CERN',       coordinates: [46.233890,   6.055297], type: 1 },
        { legend: 'IFIC, Valencia',     coordinates: [39.514938,  -0.424926], type: 1 },
        { legend: 'GSI, Frankfurt',     coordinates: [49.984539,   8.677763], type: 1 },
        { legend: '8th Light, London',  coordinates: [51.507400,  -0.127800], type: 1 },
        { legend: 'mySociety, Bristol', coordinates: [51.454500,  -2.587900], type: 1 },
        { legend: 'David, Panama',      coordinates: [ 8.433290, -82.431718], type: 0 },
        { legend: 'Sliema, Malta',      coordinates: [35.913605,  14.501209], type: 0 },
        { legend: 'USC, Compostela',    coordinates: [42.879922,  -8.545285], type: 1 }
      ];
      (new Map('map', token)).setup(markers);
    });
  })();
</script>
