---
blog: work
pageable: true
per_page: 12
---
<h1>Work tagged '<%= tagname %>'</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<%= partial(:inspire, locals: { articles: work_tag(tagname) }) %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
